
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="copy">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Slipp</a>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/form}">회원가입</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/list}">사용자 목록</a>
            </li>
        </ul>
    </div>
</nav>